<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="sessionRepositoryFilter" class="com.rookiefly.session.filter.SessionRepositoryFilter">
		<property name="sessionRepository" ref="sessionRepository"/>
		<!--<property name="httpSessionStrategy" ref="httpSessionStrategy"/>-->
	</bean>

	<!--	<bean id="httpSessionStrategy" class="com.kuaidadi.home.web.session.CookieHttpSessionStrategy">
            <property name="defaultMaxInactiveInterval" value="7200"/>
        </bean>-->

	<bean id="sessionRepository" class="com.rookiefly.session.repository.RedisSessionRepository">
		<!--<property name="cacheRedis" ref="cacheRedis"></property>-->
	</bean>

<!--	<bean id="cacheRedis" class=""
		  init-method="init" destroy-method="stop">
		<property name="redisAddr" value="10.0.51.223:6379" />
	</bean>-->
</beans>