<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- session替换拦截器 -->
    <bean id="sessionRepositoryFilter" class="com.rookiefly.session.filter.SessionRepositoryFilter">
        <!-- <property name="sessionRepository" ref="sessionRepository"/>-->
        <!--<property name="httpSessionStrategy" ref="httpSessionStrategy"/>-->
    </bean>

    <!-- session生成策略 -->
    <!--	<bean id="httpSessionStrategy" class=" com.rookiefly.session.strategy.CookieHttpSessionStrategy">
            <property name="defaultMaxInactiveInterval" value="7200"/>
        </bean>-->

    <!-- redis存储方案 -->
    <!--	<bean id="sessionRepository" class="com.rookiefly.session.repository.RedisSessionRepository">
        <property name="cacheRedis" ref="cacheRedis"></property>
    </bean>

    <bean id="cacheRedis" class="com.rookiefly.session.redis.RedisServiceImpl"
          init-method="init" destroy-method="stop">
        <property name="redisAddr" value="127.0.0.1:6379" />
    </bean>-->

    <!-- J2Cache存储方案，默认方案 -->
<!--    <bean id="sessionRepository" class="com.rookiefly.session.repository.J2CacheSessionRepository">
    </bean>-->
</beans>